body{
	margin: 0;
	width: 100%;
	font-family: Spartan;
}
header{
	width: 100%;
	height: 70px;
}
#header-wrap{
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.header-logo {
	display: flex;
    width: 50%;
    height: 100%;
}
.logo-p {
    margin: auto auto auto 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: Spartan;
}
.logo-p a{
    text-decoration: none;
    color: #000;
}
.header-right {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    height: 100%;
}
.header-right{
	display: flex;
	flex-direction: row-reverse;
}
.header-menu{
	display: flex;
    margin: 0 20px 0 0;
    padding: 0;
    list-style: none;
}
.header-item, .footer-menu-item {
	margin: auto 10px;
    display: inline-block;
}
#popup-box {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2f2f2f;
    opacity: 1;
    z-index: 999;
    animation: popup-box 0.3s ease;
}
@keyframes popup-box{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#popup-inner {
    position: relative;
    margin: auto;
}
#popup-img {
    max-width: 990px;
    max-height: 700px;
    vertical-align: top;
    object-fit: contain;
}
#top-wrap {
    display: flex;
    width: 100%;
    height: 250px;
    animation: top-wrap 1.5s ease;
}
@keyframes top-wrap{
	from{
		opacity: 0;
		transform: translateY(30px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.top-wrap-h1 {
    width: 70%;
    margin: auto;
    text-align: center;
}
#gallary-wrap {
    padding: 0 10px 10px;
}
#gallary-inner{
	display: flex;
	width: 100%;
}
.gallary-column{
	width: 33.3333%;
}
.column-image-wrap{
	position: relative;
	visibility: hidden;
	margin: 0 10px 20px;
	overflow: hidden;
	z-index: 9;
}
.hidden{
	visibility: hidden;
}
.gallary-column img{
	display: block;
	width: 100%;
	height: auto;
	position: center;
	transition: all 1s;
}
.gallary-column img:hover {
    transform: scale(1.1);
    transition: all 1s;
}
.gallary-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #000;
    opacity: 0.4;
    z-index: 10;
}
.column-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
#info-wrap{
	box-sizing: border-box;
	width: 100%;
	padding: 40px;
}
#innfo-inner{
	display: flex;
}
.info-left{
	box-sizing: border-box;
	visibility: hidden;
	width: 45%;
	padding-right: 60px;
	text-align: right;
}
.info-title{
	font-size: 30px;
	font-weight: bold;
}
.info-right{
	visibility: hidden;
	width: 55%;
}
.info-image{
	width: 100%;
}
.left-show{
	visibility: visible;
	animation: left-show 1.5s ease;
}
@keyframes left-show{
	from{
		opacity: 0;
		transform: translateX(-30px);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}
.right-show{
	visibility: visible;
	animation: right-show 1.5s ease;
}
@keyframes right-show{
	from{
		opacity: 0;
		transform: translateX(30px);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}
.gallary-overlay:before {
    content: 'click to expand';
    display: inline-block;
    margin: auto;
}
.info-left{
	display: flex;
}
.info-left-inner{
	margin: auto 0 auto auto;
}
.info-conntent {
    margin-bottom: 40px;
}
.button {
    display: inline-block;
    padding: 25px 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;
    background: #b9b9b9;
}
.button:hover{
	opacity: 0.7;
}
footer{
	display: flex;
	width: 100%;
	height: 300px;
	background: #383838;
}
#footer-wrap {
    display: inline-block;
    margin: auto;
    text-align: center;
}
.footer-logo {
    margin: 0 0 20px;
    visibility: hidden;
    font-size: 30px;
    color: #fff;
}
.footer-logo a{
	text-decoration: none;
	color: #fff;
}
.footer-line{
	width: 30px;
	height: 2px;
	margin: 0 auto 40px;
	background: #fff;
}
.footer-menu {
	display: flex;
    padding: 0;
    list-style: none;
}
.footer-menu-item a {
    color: #fff;
    text-decoration: none;
}
.footer-menu-item a:hover {
    text-decoration: underline;
}
.close {
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
}
.close:hover{
	opacity: 0.7;
}
.image-show{
	visibility: visible;
	animation: image-show 1.5s ease;
}
@keyframes image-show{
	from{
		opacity: 0;
		transform: translateY(80px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.text-show{
	visibility: visible;
	animation: text-show 0.7s ease;
}
@keyframes text-show{
	from{
		opacity: 0;
		transform: translateY(20px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	#popup-img {
	    max-width: 760px;
	    max-height: 1100px;
	}
	.info-title {
    	margin: 0 0 10px;
	}
	.info-conntent {
    	margin-bottom: 20px;
	}
	.button {
    	padding: 20px 40px;
	}
}
@media only screen and (max-width: 767px){
	.top-wrap-h1 {
	    width: 86%;
	    font-size: 28px;
	}
	#gallary-column-3{
		display: none;
	}
	#gallary-column-1, #gallary-column-2 {
    	width: 50%;
	}
	#info-wrap {
    	padding: 30px;
	}
	#innfo-inner {
    	display: block;
	}
	.info-left {
	    width: 100%;
	    padding: 0;
	    text-align: center;
	}
	.info-left-inner {
    	margin: 0 auto 20px;
	}
	.info-right {
    	width: 100%;
	}
	.info-title {
    	font-size: 27px;
	}
	.info-conntent {
    	margin-bottom: 25px;
	}
}